*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: powderblue;
    display: flex;
    padding: 4rem;
    align-items: center;
}
.box{
    height: 150px;
    width: 150px;
    background-color: wheat;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    border-radius: 50%;
    
    animation-name: movement;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-fill-mode: both;
}

@keyframes move{
    /* initial position */
    from{
        /* top: 0px;
        left: 0px; */
        transform: translateX(0vw);
    }
    /* final position in */
    to{
        /* top: 0px;
        left: 800px; */
        transform: translateX(80vw);
    }
}

@keyframes movement{
    0%{
        transform: translate(0vw,0vh);
    }
    25%{
        transform: translate(30vw,-30vh); 
        /* -30vh means up */
    }
    50%{
        transform: translate(60vw,0vh);
    }
    75%{
        transform: translate(30vw,30vh);
    }
    100%{
        transform: translate(0vw,0vh);
    }
}