*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 5rem;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.box{
    background-color: orange;
    font-size: 2rem;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}
.box1:hover{
    transform: rotatex(90deg);
}
.box2:hover{
    transform: rotateY(90deg);
}
.box3:hover{
    transform:rotatez(90deg);
}
.box4:hover{
    transform: translatex(200px);
}
.box5:hover{
    transform: translatey(200px);
}
.box6:hover{
    transform: perspective(300px) translatez(200px) ;
}
.box7:hover{
    transform:scaleX(2);
}
.box8:hover{
    transform:scaleY(2);
}
.box9:hover{
    transform:perspective(300px) rotatey(45deg) scalez(4);
} 