*{
    margin: 0;
}
/* by using vh */
/* .circle{
    height: 60vh;
    width: 60vh;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    margin-top: 20vh;
} */
/* by using vw */
.circle{
    height: 30vw;
    width: 30vw;
    background-color: red;
    border-radius: 50%;
    margin: auto;/*automatically centre par */
    margin-top: 10vw;
    margin-bottom: 10vw;
}